/* styles/style.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 300px;
  box-sizing: border-box;
}

section {
  flex: 1;
  margin: 0 1rem;
}

input#title {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
}

button#saveNoteBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#display {
  background-color: #ffeb3b;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 300px;
  padding: 10px;
  margin: 5px;
  overflow-wrap: break-word;
  overflow-y: scroll;
  max-height: 600px;
}

#display img {
  max-width: 100%;
  height: auto;
}

.memo-btn {
  display: inline-block;
  margin: 5px 35px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.memo-btn:hover {
  transform: scale(1.1);
}
.delete-btn .update-btn {
  background-color: #eb902e; /* Green */
  color: white;
}
